.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}

/* Title */
.page-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.page-content{
  text-align: center;
}

.contact-image {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}

/* Image */
.contact-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.contact-text {
  font-size: 1.1rem;
  margin-bottom: 50px;
  opacity: 0.85;
}

/* SOCIAL ICONS */
.contact-socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

/* Brown circle icons */
.social-circle {
  width: 30px;
  height: 30px;
  background: #895c34; /* brown theme */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.4rem;
  
  transition: 0.2s ease;
}

.social-circle:hover {
  transform: scale(1.12);
  background: #8c6547;
}

/* CONTACT BUTTON */
.contact-btn {
  padding: 10px 28px;
  background: #8b4b13; /* brown */
  color: white;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s ease;
}

.contact-btn:hover {
  background: #8c6547; /* darker brown */
  transform: scale(1.05);
}
