body,
html{
  height: 100dvh;
  width: 100dvw;
  background: rgb(255, 255, 166);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
